<!DOCTYPE html>
<html>
  <head>
    <title>Postphoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<h3>postphoto</h3>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <ul class="footer_menu">
      <li><a href="/">HOME</a></li>
      <li><a href="#">USERS</a></li>
      <li><a href="#">PHOTOS</a></li>
    </ul>
  	<p>© 2017 postphoto</p>
  </footer>
  </body>
</html>
